# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.SS_GameAsset3.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UE_4.26\Projects\SS_GameAsset3\.idea\.idea.SS_GameAsset3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
